
@{
    ViewData["Title"] = "EnviarSolicitudAdopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-dark">
        <h2 class="display-2">
            Esta es la pagina para enviar una solicitud de adopcion
        </h2>
    </div>
</div>

