@{
    Layout = null;
}

@model ProyectoWebMVC.Models.Usuario;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/EstilosInicioSesion.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row mt-5">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="image-container text-center mb-4" style="margin-right: -200px">
                <img class="u-image u-image-contain u-image-default" src="~/images/logotipoPAE.png" alt="Logotipo" style="max-width: 80%; height: auto;" id="imagen1">
                <img class="u-image u-image-contain u-image-default" src="~/images/Perrillos.png" alt="Perrillos" style="max-width: 80%; height: auto;" id="imagen2">
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="form-container">
                <p class="h1 text-center">Registrarse</p>
                <form asp-area="" asp-controller="Acceso" asp-action="Registrarse" method="post">
                    <div class="form-group">
                        <label for="exampleInputNombre" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="exampleInputNombre" required asp-for="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" required asp-for="Correo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required asp-for="Clave">
                    </div>
                    <div class="container" id="registrarse">
                        Ya tienes una cuenta? - <a asp-area="" asp-controller="Acceso" asp-action="Login">Inicia Sesion!</a>
                    </div>
                    <button type="submit" class="btn btn-primary" id="Ingresar">Registrarse</button>

                    @if(ViewData["Mensaje"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
