body {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #3a362b;
    min-height: 100vh;
}

#Ingresar {
    background: #374e1d;
    color: white;
    border-color: #374e1d;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
}

.custom-box {
    background-color: #84bc48;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #3a362b;
    margin-top: 10px;
    margin-bottom: 125px;
   
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 250px;
    margin-bottom: 0px;
}

.image-container img {
    max-width: 80%; 
    height: auto;
    margin-bottom: 15px;
}

#imagen1 {
    margin-top: 10px;
    width: 300px;
    height: 275px;
    margin-right: 250px;
}

#imagen2 {
    width: 750px;
    height: 900px;
    margin-right: 250px;
}